*{
	box-sizing: border-box;
}

body{
	font-size: 16px;
	color:white;
	background-color: #A10029;
	font-family: 'Oxygen', sans-serif;
}

#title{
	text-shadow: 1px 1px 1px #222;
	text-align: center;
}

.main-content{
	color:white;
	background-color: #7A001F;
	padding:20px;
	width:95%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	overflow: hidden;
}

#main-content span{
	font-style: italic;
	font-weight: bold;
	color:grey;
}

#say-it{
	color:black;
	font-weight: bold;
}

#name{
	color:black;
}
